:root{
    --Blue: rgb(88, 71, 235);
    --Light-red-work: rgb(255, 140, 102);
    --Soft-blue-play: rgb(86, 194, 230);
    --Light-red-study: rgb(255, 92, 124);
    --Lime-green-exercise: rgb(74, 207, 129);
    --Violet-social: rgb(117, 54, 211);
    --Soft-orange-selfcare: rgb(241, 198, 91);
    --Very-dark-blue: rgb(15, 20, 36);
    --Dark-blue: rgb(28, 31, 74);
    --Desaturated-blue: rgb(111, 118, 200);
    --Pale-Blue: rgb(189, 193, 255);
    --White: rgb(255, 255, 255);
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 4rem 0;
    background-color: var(--Very-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    gap: 2rem;
}
section, .namepicture, .notes{
    border-radius: 1.5rem;
    cursor: pointer;
}
.notes:hover{
    background-color: var(--Desaturated-blue);
}
.profile{
    width: 100%;
    background-color: var(--Dark-blue);
}
.namepicture{
    background-color: var(--Blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
}
.namepicture img{
    width: 25%;
    border: 0.2rem solid var(--White);
    border-radius: 50%;
}
.namepicture span{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--Pale-Blue);
}
.namepicture h1{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: var(--Pale-Blue);
}
.time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.time p{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--Pale-Blue);
    cursor: pointer;
}
.time p:hover{
    color: var(--White);
}
.time .active{
    color: var(--White);
}
.work{
    background-color: var(--Light-red-work);
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: -10%;
}
.notes{
    background-color: var(--Dark-blue);
    margin-top: 4rem;
}
.titleandpoint, .hours{
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titleandpoint h2{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--White);
    margin: 2rem 0 1rem 0;
}
.hours h3{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: var(--White);
    margin: 0.5rem 0 2rem 0;
}
.hours p{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: var(--Pale-Blue);
}
.play{
    background-color: var(--Soft-blue-play);
    background-image: url(../images/icon-play.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: -10%;
}
.study{
    background-color: var(--Light-red-study);
    background-image: url(../images/icon-study.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: -10%;
}
.exercise{
    background-color: var(--Lime-green-exercise);
    background-image: url(../images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: -2%;
}
.social{
    background-color: var(--Violet-social);
    background-image: url(../images/icon-social.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: -20%;
}
.selfcare{
    background-color: var(--Soft-orange-selfcare);
    background-image: url(../images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: -10%;
}

@media (min-width: 768px) {
    main{
        width: 50%;
    }
    .namepicture span{
        font-size: 1.4rem;
    }
    .namepicture h1{
        font-size: 2.2rem;
    }
    .time p{
        font-size: 1.8rem;
    }
    .titleandpoint h2{
        font-size: 2rem;
    }
    .hours h3{
        font-size: 3.2rem;
    }
    .hours p{
        font-size: 1.6rem;
    }
}

@media (min-width: 1024px) {
    main{
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .profile{
        grid-row: 1/3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 65% 35%;
    }
    .namepicture{
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 2rem;
    }
    .namepicture img{
        width: 60%;
    }
    .namepicture span{
        font-size: 1.6rem;
    }
    .namepicture h1{
        font-size: 3.4rem;
        margin-bottom: 0;
    }
    .time{
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        padding: 0rem 2rem;
    }
    .time p{
        line-height: 0;
        margin: 0;
    }
    .hours{
        flex-direction: column;
        align-items: start;
    }
    .hours h3{
        font-size: 4rem;
        margin: 0.5rem 0;
    }
    .hours p{
        font-size: 2rem;
    }
}

@media (min-width: 1280px) {
    main{
        width: 70%;
    }
    .namepicture img{
        width: 50%;
    }
}

@media (min-width: 1728px) {
    .namepicture span{
        font-size: 2rem;
    }
    .namepicture h1{
        font-size: 4rem;
    }
    .time p{
        font-size: 2.4rem;
    }
    .titleandpoint h2{
        font-size: 3rem;
    }
    .hours h3{
        font-size: 6rem;
    }
    .hours p{
        font-size: 3rem;
    }
}